In [1]:
#Pandas ......> Pandas is an open-source library of python that is used for handle data manipulations

In [2]:
#pip install pandas

In [3]:
import pandas as pd

In [4]:
 #Data structures of pandas
#(a)Series...>It is one-Dimenstional array and it shows only values
#(b)DataFrame...>It is multi-Dimenstional array and it contains values with column name

In [5]:
#(a) Series

In [6]:
a=pd.Series([1,45,78,90])
a

0     1
1    45
2    78
3    90
dtype: int64

In [7]:
type(a)

pandas.core.series.Series

In [8]:
#(b) DataFrame

In [10]:
a={
    "Emp_ID":[1,2,3,4,5],
    "Name":['Sam','Raj','Mohit','Aniket','Pallavi'],
    "Department":['IT','Sales','Sales','IT','IT'],
    "Salary":[20000,25000,30000,32000,27000]
}
a

{'Emp_ID': [1, 2, 3, 4, 5],
 'Name': ['Sam', 'Raj', 'Mohit', 'Aniket', 'Pallavi'],
 'Department': ['IT', 'Sales', 'Sales', 'IT', 'IT'],
 'Salary': [20000, 25000, 30000, 32000, 27000]}

In [11]:
df=pd.DataFrame(a)
df

   Emp_ID     Name Department  Salary
0       1      Sam         IT   20000
1       2      Raj      Sales   25000
2       3    Mohit      Sales   30000
3       4   Aniket         IT   32000
4       5  Pallavi         IT   27000